body {
    background-color: #444;
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
}

img, iframe {
    height: 14rem;
<<<<<<< HEAD
    margin-bottom: 1rem;
=======
>>>>>>> 00e4226092e661c4c3dd9ac9c9b50359f4f60dba
}

ol li {
    margin-bottom: 3rem;
}

.googleFont {
<<<<<<< HEAD
    font-family: 'VT323', sans-serif;
}

.styling::after {
    content: '✅';
}

.styling p:not(:first-child) {
    display: none;
}

.lenke {
    color: rgba(245, 44, 127, 0.93)
}

.uglyOrPretty {
    color: #fa02b2;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    border: #f60a0a 4px dashed;
    background-color: aqua;
    padding: 1rem;
    max-width: 25rem;
}

.uglyOrPretty::after {
    content: ': stygg'
}
=======
    font-family: 'VT323', Arial;
    font-size: 2rem;
}

.styling::before {
    content: 'Denne stylingen tok seg bra ut!';
}

.styling p {
    display: none;
}

>>>>>>> 00e4226092e661c4c3dd9ac9c9b50359f4f60dba
